<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Copter of Doom</title>
		<link rel="stylesheet" href="/stylesheets/style.css">
		<script src="/socket.io/socket.io.js"></script>
		{{{js "jquery.js"}}}
		{{{js "require.js"}}}
		{{{js "leap.js"}}}
		{{{js "underscore.js"}}}
		{{{js "jsmpg.js"}}}
	</head>
	<body>
		{{{body}}}
	</body>
</html>
